In [71]:
import pandas as pd
import numpy as np
from sklearn.utils import shuffle

In [42]:
data = pd.read_csv("weather_data/weather_prediction_dataset.csv")
towns = {col.split("_")[0] for col in data.columns[2:]}
labels = pd.read_csv("weather_data/weather_prediction_picnic_labels.csv").replace({True: 1, False: 0})
data = data.join(labels.set_index("DATE"), on="DATE")

In [43]:
#data.loc[:, data.columns.str.startswith('BASEL') | (data.columns == 'MONTH')]

basel = data.loc[:, data.columns.str.startswith('BASEL')]
basel.columns = ["_".join(col.split("_")[1:]) for col in basel.columns]

In [63]:
basel.loc[:, basel.columns[:-1]].mean(axis=0)

cloud_cover          5.418446
humidity             0.745107
pressure             1.017876
global_radiation     1.330380
precipitation        0.234849
sunshine             4.661193
temp_mean           11.022797
temp_min             6.989135
temp_max            15.536782
dtype: float64

In [72]:
shuffle(basel.loc[:, basel.columns[:-1]],random_state=42)

,cloud_cover,humidity,pressure,global_radiation,precipitation,sunshine,temp_mean,temp_min,temp_max
1313,3,0.52,1.0196,2.45,0.00,8.6,28.2,20.8,35.7
1674,1,0.56,1.0161,2.87,0.00,12.8,24.5,16.7,32.0
229,3,0.74,1.0152,1.84,1.00,6.8,22.1,17.8,27.5
3509,7,0.86,1.0168,1.19,3.74,1.4,20.1,18.5,24.0
2222,1,0.85,1.0259,0.86,0.00,5.9,-3.8,-8.1,1.8
...,...,...,...,...,...,...,...,...,...
1130,8,0.88,0.9978,0.37,1.45,0.7,0.4,-2.1,3.7
1294,3,0.54,1.0219,3.25,0.00,13.3,21.9,14.0,28.4
860,3,0.67,1.0090,3.03,0.00,11.6,15.2,9.2,22.2
3507,8,0.89,1.0173,0.41,3.35,0.1,19.7,17.4,21.1
3174,3,0.68,1.0173,2.19,0.00,9.7,18.7,10.5,26.5